body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

h1 {
    color: #3498db;
}

input[type="file"] {
    display: none;
}

/* Styling for the custom upload button */
div {
    margin: 20px;
    position: relative;
}

input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

/* Display uploaded file information */
#fileInfo {
    margin-top: 20px;
    text-align: left;
}
